.grid {
    margin: 10% auto;
    background-color: white;
}

.cellcanvas {
    border: 1px solid black;
}

.cellgridSavedColors {
    border: 1px solid black;
    background-color: #eee;
    width: 20px;
    height: 20px;
}

table {
   border-collapse: collapse;
}