.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 1;
	background-color: #222;
    color: white;
    padding: 5%;
    border-radius: 5%;
  }
  
#buttonSave {
	font-size: 15px;
    border-radius: 0%;
    margin-top: 5px;
}

h5 {
	text-align: center;
}

.range {
	padding: 0px 5px;
}

#selectedColor {
	margin: 0px 5px 0px 5px;
	border: 1px solid black;
}

.inputRange {
	width: 100%;
}

.labelRange {
	font-weight: bolder;
	margin: 10px 5px;
	font-size: 13px;
}

.labelRangeValue {
	font-weight: bolder;
	margin: 10px 5px;
	font-size: 13px;
}