
:root {
	--main-bg-color: rgba(6, 84, 173, 0.9);
	--main-txt-color: black;
}

/* The sidebar menu */
.sidenav {
	height: 100%;
	/* Full-height: remove this if you want "auto" height */
	width: 25%;
	/* Set the width of the sidebar */
	position: fixed;
	/* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	background-color: #eee;
	color: var(--main-txt-color);
	/* Black */
	overflow-x: hidden;
	padding: 0px 10px;
}


/* The navigation menu links */

.sidenav p {
	text-align: center;
	font-weight: bold;
	background-color: #222;
	color: whitesmoke;
}


/* Style page content */

.main {
	margin-left: 22%;
	/* Same as the width of the sidebar */
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav p {
		font-size: 18px;
	}
}


/* SIDENAV */
button {
	background-color: none;
	padding: 10px;
	border: none;
	font-size: 20px;
}

button:hover, .active {
	background-color: var(--main-bg-color);
	color: white;
}

button:focus {
    outline:0;
}