@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    background-color: #111;
	font-family: 'Oxygen', sans-serif;
}

[owner], p, button, input[type='range'], #selectedColor {
    cursor: pointer;
}

#warning {
    background-color: var(--main-bg-color);
    padding: 50% 0px;
    text-align: center;
}